.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MNET-logo {
    display: flex;
    color: rgb(35, 62, 132);
}

.nav-links :hover {
    background-color:rgb(35, 62, 132);
    color:white;
}

.nav-links a {
    color: rgb(35, 62, 132);
    text-decoration: none;
    word-spacing: 40px;
    font-size: 20px;
    gap: 20px;
    padding: 80px 20px;
}


.card-perfil {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 750px;
    border: 1px solid #c8e6c9;
}

.grupo {
    margin-bottom: 15px;
}

.info {
    color: rgb(255, 0, 0);
    text-align: center;
}

.btn-salvar {
    background-color: rgb(56, 90, 175);
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}

.btn-excluir {
    background-color: #c21b1b;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
}

.fundo-perfil {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.voltar {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #666;
    text-decoration: none;
    font-size: 0.9rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 97%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(35, 62, 132);
    font-weight: bold;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee
}

.td {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #777;
    font-size: 0.85rem;
}

tr:hover {
    background-color: #e5f6ff;
}

.opcoes {
    display: flex;
    gap: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: rgb(35, 62, 132);
    color: #ffffff;
    text-align: left;
    padding: 15px;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
    color: #555;
    vertical-align: middle;
}